<?xml version="1.0" encoding="ISO-8859-1" ?>
<phpunit bootstrap="test_init.php" colors="true">
    <testsuites>
        <testsuite name="PublicTransportInfo Suite">
            <directory>./PublicTransportInfo</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>../src</directory>
        </whitelist>
    </filter>
</phpunit>
